<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="../static/styles/main-calc-view.css">
    <title>Main Application Page</title>
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><strong>Calorie Tracker</strong></li>
    </ul>
    <ul>
        <li><a href="#">Profile</a></li>
    </ul>
</nav>
<main class="container">
    <div class="grid">
        <button>Add Product</button>
        <button>Log Entry</button>
        <button>Diary</button>
    </div>
    <table>
        <tbody><tr>
            <th>Date</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Fats</th>
            <th>Proteins</th>
            <th>Carbs</th>
            <th>Calories</th>
        </tr>
        <tr>

        </tr>
        <!-- Additional rows as needed -->
        </tbody></table>
    <div class="date-picker">
        <span id="prevDate" class="date-nav">←</span>
        <label for="date">Choose a date:</label>
        <input type="date" id="date" name="date">
        <span id="nextDate" class="date-nav">→</span>
    </div>
</main>
<footer class="container">
    <small>
        <a href="#">About Us</a> • <a href="#">Contact</a>
    </small>
</footer>

<script src="../static/js/calc-dashboard.js"></script>
</body></html>